<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trailblazers.techintellect">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:label="Registration"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".HomeScreen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".HomeScreen"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".QuizScreen"
            android:parentActivityName=".HomeScreen"
            android:label="Quiz">
        </activity>
        <activity
            android:name=".QuizCompletionScreen"
            android:parentActivityName=".QuizScreen">
        </activity>
        <activity
            android:name="com.example.trailblazers.techintellect.ChangePassword"
            android:parentActivityName=".SettingsActivity">
        </activity>
        <activity
            android:name="com.example.trailblazers.techintellect.ForgotPassword"
            android:parentActivityName=".MainActivity">
        </activity>
	<activity android:name=".Dashboard_Intent">
        </activity>
    </application>

</manifest>